:root{
    --main-color: #5d9ab3;
    --accent-color: #bf7785;
    --dark-color: #2b5566;
    --text-bright-color: #fff;
    --icon-bk-color: #ddd;
    --icon-color: #fff;
    --gray-color: #ddd;
    --middle-width: 800px;
    --large-width: 1000px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
}
.noHero header{
    position: static;
    border-bottom:  solid 1px var(--gray-color);
}
.headA{
    display: inline-block;
    line-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--main-color);
    color: var(--text-bright-color);
    font-family: 'Montserrat', 'sans-serif';
    font-size: 24px;
    text-decoration: none;
}
.headB ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.headB a{
    color: inherit;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 15px;
}
.headB a:hover{
    background-color: rgba(0,0,0,0.3);
}
body{
    font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
    margin: 0;
}
.conA{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(img/main.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    color: var(--text-bright-color);
}
.conA img{
    width: 20%;
}
.conA h1{
    font-size: 15vw;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    margin-left: 0.2em;
}
.conA p{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;

}
.conA a{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: var(--accent-color);
    color: var(--text-bright-color);
    font-size: 15px;
    text-decoration: none;
}
.conA a:hover{
    background-image: linear-gradient(
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.2)
    );
}
.conA.compact{
    height: 450px;
    min-height: 0;
    background-image: linear-gradient(
        rgba(0,0,0,0.1), rgba(0,0,0,0.1)
    ), url(img/balloon.jpg);
}
.conB h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}
.conB p{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8; 
}
.conB a{
    color: var(--main-color);
    text-decoration: none;
}
.conB .icon{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 40px;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color: var(--icon-bk-color);
    color: var(--icon-color);
}
.conB .container{
    padding-top: 80px;
    padding-bottom: 20px;
}
.conB .text {
    text-align: center;
    padding: 0 20px 60px 20px;
}
.conB a:hover{
    text-decoration: underline;
}
.conC{
    background-color: var(--main-color);
    color: var(--text-bright-color);
}
.conC .photo, .conD .photo{
    background-image: url('img/note.jpg'); 
    background-position: center;
    background-size: cover;
    min-height: 200px;
}
.conD .photo{
    background-image: url('img/juce.jpg');
}
.conC .text, .conD .text{
    padding: 20px;
}
.conC h2, .conD h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}
.conC p, .conD p{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8; 
}
.conC a, .conD a{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: var(--accent-color);
    color: var(--text-bright-color);
    font-size: 15px;
    text-decoration: none;
}
.conC a:hover, .conD a:hover{
    background-image: linear-gradient(
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.2)
    );
}
.conD a{
    box-shadow: 0 0 0 1px #888888;
}
.conD .container{
    padding-top: 2px
}
.footA{
    margin-bottom: 30px;
}
.footA h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Montserrat', 'sans-serif';
    letter-spacing: 0.2em;
}
.footA p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}
.footA a{
    color: inherit;
    text-decoration: none;
}
.footB h3{
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: solid 1px currentColor;
    font-size: 14px;
}
.footB ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footB a{
    color: inherit;
    font-size: 12px;
    text-decoration: none;
    display: block;
    padding: 5px;
}
.footB a:hover{
    background-color: rgba(0,0,0,0.3);
}
.footB div{
    margin-bottom: 20px;
}
.footC{
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
}
.footD ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.footD{
    margin-top: 20px;
}
.footD a{
    color: inherit;
    text-decoration: none;
    display: block;
    border: solid 1px currentColor;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    margin-right: 8px;
    font-size: 16px;
}
.footD a:hover{
    background-color: rgba(0,0,0,0.3);
}
footer{
    color: var(--text-bright-color);
    background-color: var(--dark-color);
}
footer .container{
    padding: 40px 20px;
}
.post .container{
    padding: 30px 10px;
    max-width: var(--middle-width);
    margin-left: auto;
    margin-right: auto;
}
.post h1{
    font-size:  2rem;
    padding-left: 0.5rem;
    border-left: solid 0.75rem var(--accent-color);
    
}
.post p{
    font-size: 1rem;
    line-height: 2;
}
.post img{
    max-width: 100%;
}
.bread ol{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.bread a{
    color: inherit;
    font-size: 0.875rem;
    text-decoration: none;
    display: block;
    padding: 5px;
}
.bread a:hover{
    background-color: rgba(0,0,0,0.3);
}
.bread a::after{
    margin-left: 10px;
    content: '\f054';
    font-family: 'FontAwesome';
    opacity: 0.3;
}
.history{
    background-color: var(--main-color);
    color: var(--text-bright-color);
}
.history .text{
    padding: 20px;
}
.history h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.history .photo{
    min-height: 300px;
    background-image: url(img/history.jpg);
    background-position: center;
    background-size: cover;
}
.history table{
    border-collapse: collapse;
    border-top: solid 1px var(--gray-color);
    font-size: 0.875rem;
}
.history th, .history td{
    border-bottom: solid 1px var(--gray-color);
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}
.history th{
    padding-right: 1rem;
    text-align: left;
    word-break: keep-all;
    white-space: nowrap;
}
.contact{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: solid 1px var(--gray-color);
    text-align: center;
}
.contact h2 {
    margin-top: 0;
    font-size: 1.2rem;
}
.contact span{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 2.2rem;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color: var(--main-color);
    color: var(--icon-color);
}
.contact a{
    font-size: 1.4rem;
    color: inherit;
    text-decoration: none;
}
.location iframe{
    width: 100%;
    height: 400px;
    vertical-align: bottom;
}
.location h2{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--main-color);
    color: var(--text-bright-color);
    font-size: 1.5rem;
    text-align: center;
}
.listB .photo{
    min-height: 150px;
    background-position: center;
    background-size: cover;
}
.listB h2{
    font-size: 18px;
    margin: 0;
}
.listB p{
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
}
.listB a{
    margin: 10px;
    display: block;
    border: solid 1px var(--gray-color);
    color: inherit;
    text-decoration: none;
    flex: 1;
    position: relative;
}
.listB a:hover{
    opacity: 0.8;
}
.listB .text{
    margin: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.listB .container{
    display: flex;
    flex-wrap: wrap;
    max-width: var(--large-width);
    margin: 30px auto;
}
.listB article{
    flex: 1 1 300px;
    display: flex;
}
.listB a{
    background-color: currentColor;
}
.listB .photo{
    opacity: 0.6;
}
.listB .text{
    color: var(--text-bright-color);
}
.listB .container{
    max-width: none;
    margin: 2px auto;
}
.listB article{
    flex: 1 1 250px;
}
.listB .photo{
    min-height: 250px;
}
.listB a{
    margin: 2px;
}
@media (min-width: 1000px){
    .listB article{
        flex: 1 1 25%;
    }
}
@media (max-width:767px){
    header .container-small{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .headC{
        margin-right: 10px;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        font-size: 28px;
        opacity: 0.5;
        cursor: pointer;
    }
    .headC:hover{
        opacity: 0.3;
    }
    .headB{
        display: none;
    }
}
@media (min-width:768px){
    .contact-wrap{
        display: flex;
    }
    .contact{
        flex: 1;
    }
    .contact:first-child{
        margin-right: 20px;
    }
    .history .container{
        display: flex;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }
    .history .photo{
        flex: 3;
    }
    .history .text{
        flex: 2;
        padding: 50px;
    }
    header .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }
    .headB ul{
        display: flex;
    }
    .headC{
        display: none;
    }
    .conA h1{
        font-size: 115px;
    }
    .conA p{
        font-size: 24px;
    }
    .conB .container{
        display: flex;
        max-width: var(--large-width);
        margin: 0 auto;
    }
    .conB .text{
        flex: 1;
    }
    .conC .container, .conD .container{
        display: flex;
        max-width: var(--large-width);
        margin: 0 auto;
    }
    .conC .photo, .conD .photo{
        flex: 3;
    }
    .conC .text, .conD .text{
        flex: 2;
        padding: 50px;
    }
    .conD .container{
        padding: 40px 0;
        flex-direction: row-reverse;
    }
    .conD .photo{
        flex: 0 0 400px;
    }
    .conD ,.text{
        flex: 1;
    }
    .footB{
        display: flex;
    }
    .footB div{
        flex: 1;
    }
    .footB div:not(:first-child){
        margin-left: 40px;
    }
    footer .container{
        display: flex;
        flex-wrap: wrap;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }
    .footA{
        flex: 0 0 40%;
    }
    .footB{
        flex: 0 0 60%;
    }
    .footC{
        flex: 0 0 100%;
    }
}
@media (max-width: 599px){
    :root{
        font-size: 14px;
    }
}
@media (min-width:600px) and (max-width: 799px){
    :root{
        font-size: 16px;
    }
}
@media (min-width: 800px){
    :root {
        font-size: 18px;
    }
}